$bold: "titi-bold";
$semi-bold: "titi-semibold";
$regular: "titi-regular";
$light: "titi-light";


.MyGallery {
    padding: 30px 15px;
    overflow: hidden;

    span {
        font-family: $bold;

        h2 {
            text-align: center;
            margin: 0px 0px 5px;
            font-size: 28px;
            color: rgb(255, 255, 255);
        }

        hr {
            width: 20%;
            padding: 1px;
            margin: 4px auto;
            background-color: rgb(187, 176, 176);
            border: none;
        }
    }

    p {
        font-family: $regular;
        font-size: 16px;
        margin: 15px 0px 25px;
        text-align: center;
        color: white;
    }

    .art_works {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .pics {
            width: 28%;
            margin: 5px;

            img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    .MyGallery {
        padding: 6% 30px;

        span {
            h2 {
                font-size: 38px;
            }

            hr {
                width: 5%;
            }
        }

        p {
            font-size: 16px;
            width: 50%;
            margin: 15px auto 25px;
        }


        .art_works {

            .pics {
                width: 15%;
                margin: 15px;
                border-radius: 10px;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

    }
}

@media (min-width: 1280px) {
    .MyGallery {
        padding: 6% 10%;

        span {
            h2 {
                font-size: 38px;
            }

            hr {
                width: 5%;
            }
        }

        p {
            font-size: 16px;
            width: 50%;
            margin: 15px auto 25px;
        }

        .art_works {
            margin: 20px 0px;
            .pics {
                width: 20%;
                margin: 15px;
                transition: .3s all ease-in-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 17px 16px 37px rgb(66, 65, 65);
                    transform: scale(1.1, 1.1);
                }

                img {
                    width: 100%;
                }
            }
        }

    }
}